{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    <div class="header">
        <h1>University of Utah Asia Campus: Korean Alumni Association</h1>
    </div>

   <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#" style="float:right">Link</a>
    </div>
      
    <div class="bg"> 
        <div class="box_group">
                <div class="transbox">
                    <h1>Hello World!</h1>
                    <p>Welcome to my first Django project!</p>
                    <p>Welcome everyone. This is our first ever Django Project</p>
                    <a href="https://www.google.com">
                        <button>Click me</button>
                    </a>
                </div>
            


                <div class="transbox">
                    <h1>Hello World!</h1>
                    <p>Welcome to my first Django project!</p>
                    <p>Welcome everyone. This is our first ever Django Project</p>
                    <a href="https://www.google.com">
                        <button>Click me</button>
                    </a>
                </div>


                <div class="transbox">
                    <h1>Hello World!</h1>
                    <p>Welcome to my first Django project!</p>
                    <p>Welcome everyone. This is our first ever Django Project</p>
                    <a href="https://www.google.com">
                        <button>Click me</button>
                    </a>
                </div>
            </div>

        </div>
    </div>


</body>
<footer>
<p>Hello world</p>

</footer>
</html>