<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'myfirst.css' %}">
        <script src="{% static 'myfirst.js' %}"></script>
    </head>
<body>
    <div class="topnav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Members</a>
    </div>
    <div class="content">
        <div class="container">
            <img src="{% static 'landingpage.jpeg' %}" style="width:100%;">
            <div class="text-block-main">
                <h1>Hello World!</h1>
                <p>Welcome to our TEK club!</p>
            </div>
            <div class="row">
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{% static 'uac.jpeg' %}" alt="Avatar" style="width:100%;height:100%;">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="uac.jpeg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="uac.jpeg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="uac.jpeg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="uac.jpeg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p>Architect & Engineer</p>
                                <p>We love that guy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uu-footer__bottom">
        <div class="uu-footer__bottom-container">
        <p>Footer</p>
        <img src="https://templates.utah.edu/_main-v3-1/images/template/university-of-utah-logo.svg" alt="The University of Utah" class="uu-site-logo">
        <div class="uu-footer__bottom-col2">
            <div class="legal">
               <p>© 2023 The University of Utah</p>
               <ul>
                  <li><a href="/indigenous-land-acknowledgment/index.php">Indigenous Land Acknowledgment</a></li>
                  <li><a href="/nondiscrimination/">Nondiscrimination &amp; Accessibility</a></li>
                  <li><a href="/disclaimer/">Disclaimer</a></li>
                  <li><a href="/privacy/">Privacy</a></li>
                  <li><a href="/credits-v3.php">Credits &amp; Attributions</a></li>
                  <li><a href="https://attheu.utah.edu/media-contacts/">Media Contacts</a></li>
                  <li><span id="directedit"><a id="de" href="https://a.cms.omniupdate.com/11/?skin=utah&amp;account=utah_home&amp;site=utah_home2&amp;action=de&amp;path=/index.pcf">Last Updated: 9/15/23</a></span></li>
               </ul>
            </div>
         </div>
    </div>
</div>
    
</body>
</html>