<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    </head>

    <body>
        <div class="topnav">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Members</a>
          </div>
          
          <div class="content">
            <div class="container">
            <img src="{% static 'uofu.jpg' %}" style="width:100%;">
            <div class="text-block">
                <h1>Hello World</h1>
                <p>Welcome to our TEK Club~!</p>
              </div>
            </div>
          </div>
          
          <div class="footer">
            <p>Footer</p>
          </div>
    </body>

</html>